# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env
# Jupyter
.ipynb_checkpoints
# Streamlit / logs
*.log
# OS
.DS_Store
# Data & large files (keep out of repo)
data/
vectors.faiss
meta.pkl
# Secrets
secrets.json
